<h1>Pizza Ordering APP</h1>
<h2>Made Simple</h2>

<div class="blurb">While it is difficult to say for sure who invented the pizza, it is however believed that modern pizza was first made by baker Raffaele Esposito of Naples. In fact, a popular urban legend holds that the archetypal pizza, Pizza Margherita, was invented in 1889, when the Royal Palace of Capodimonte commissioned the Neapolitan pizzaiolo Raffaele Esposito to create a pizza in honor of the visiting Queen Margherita. Of the three different pizzas he created, the Queen strongly preferred a pie swathed in the colors of the Italian flag: red (tomato), green (basil), and white (mozzarella). Supposedly, this kind of pizza was then named after the Queen as Pizza Margherita.
  <br><br>We offer 5 varieties of pizza , SIGNUP and LOGIN to order yours !! </div>

<div class="ctaWrapper">
  <a class="cta green" href="account/create">Get Started</a>
  <a class="cta blue" href="session/create">Login</a>
</div>
