<h1>Place an order</h1>
<h2>Select items below to place order</h2>
<a class="backButton" href="/orders/all">Back</a>
<hr />


<div class="formWrapper">
  <form id="checksCreate" action="/api/orders" method="POST">
    <div class="formError"></div>
    <input class="hiddenEmailAddressInput" type="hidden" name="email" />
    <h1>CHOOSE YOUR PIZZA(s)</h1>
    <div class="inputWrapper">
      <div class="checkboxGroup">
        {body.pizzaMenu}
      </div>
    </div>

    <h1>Payment</h1>

    <div class="inputWrapper">
      <div class="inputLabel">Credit Card</div>
      <input type="text" name="creditCard" placeholder="9999999999999999" maxlength="16" />
    </div>

    <div class="inputWrapper">
      <div class="inputLabel">Expiry Month</div>
      <input type="number" name="expiryMonth" placeholder="00" maxlength="2" />
    </div>

    <div class="inputWrapper">
      <div class="inputLabel">Expiry Year</div>
      <input type="number" name="expiryYear" placeholder="0000" maxlength="4" />
    </div>

    <div class="inputWrapper">
      <div class="inputLabel">CVC</div>
      <input type="number" name="cvc" placeholder="9999" maxlength="4" />
    </div>

    <div class="inputWrapper">
      <div class="inputLabel">Delivery Address</div>
      <input class="deliveryAdrressInput" type="text" name="deliveryAddress" />
    </div>

    <div class="inputWrapper ctaWrapper">
      <button type="submit" class="cta green">Place Order</button>
    </div>
  </form>
</div>